@use "base" as *;
.header {
  &__img {
    border-radius: 2rem;
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
    align-self: center;
  }
  &__title {
    font-size: $font-huge;
    margin-bottom: 2rem;
    font-family: $font-YoungSerif;
  }
  &__text {
    font-size: $font-medium;
    color: $Stone100;
    margin-bottom: 2rem;
    font-family: $font-Outfit;
  }
}
