@use "base" as *;

.ingredient {
  display: flex;
  flex-direction: column;

  padding: $container-padding;

  padding-bottom: 2rem;

  &__title {
    font-size: $font-big;
    font-weight: 400;
    margin-bottom: $title-margin-b;
    color: $Brown800;
    font-family: $font-YoungSerif;
  }
  &__item {
    padding-left: 2.5rem;
    margin-top: 2rem;
    font-size: $font-medium;
    font-family: $font-Outfit;
    color: $Stone900;
    // margin-left: 1rem;
  }
}
