@use "base" as *;

.nutrition {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding-top: 2rem;

  &__item--1 {
    padding-left: 5rem;
    color: red;
  }

  &__item {
    padding-left: 2.5rem;
    margin-bottom: 2rem;
    border-bottom: $Stone150 0.2rem solid;
    color: red;
    display: contents;
  }

  &__chart {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: $font-medium;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1.6rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    color: $Brown800;
    font-weight: 400;
    font-family: $font-YoungSerif;
    font-size: $font-big;
    margin-bottom: $title-margin-b;
  }

  &__sub {
    margin-bottom: 2rem;
    color: $Stone900;
    font-family: $font-Outfit;
    font-size: $font-medium;
    line-height: 1.2;

    &::marker {
      color: black;
    }
  }

  &__label {
    padding: 1.2rem 0 1.2rem 4rem;
    color: $Stone600;
    font-family: $font-Outfit;
    font-weight: 500;
    border-bottom: 1px solid $Stone150;

    &--2 {
      border-bottom: none;
    }
  }

  &__value {
    padding: 1.2rem 0;
    padding-left: 3rem;
    font-family: $font-Outfit;
    font-weight: bold;
    color: $Brown800;
    text-align: left;
    border-bottom: 1px solid $Stone150;

    &--2 {
      border-bottom: none;
    }
  }
}
