@use "base" as *;

@media (max-width: 53.75em) {
  html {
    font-size: 56.25%;
  }
  .seperator {
    padding-right: 0;
  }
  .page-card {
    margin: 0;

    &__title {
      padding: 2rem;
    }

    padding: 0rem;
    &__text {
      padding-left: 2rem;
    }
  }
  //padding-left: 1.8rem;
  .header {
    &__img {
      border-radius: 0;
      margin-left: 0;
      width: 100%;
      height: 25vw;
    }
    &__title,
    &__text {
      margin-left: 2rem;
    }
  }
  .prep {
    padding: 2rem;
    margin: 0 auto;
  }
  .nutrition {
    padding: 2rem;
    &__title {
      font-size: 3.2rem;
      margin-bottom: 2rem;
    }

    .instruction {
      width: 90%;
      &__title {
        font-size: 3.2rem;
        margin-bottom: 2rem;
      }

      &__item {
        margin-left: 2rem;

        &::marker {
          color: $Brown800;
        }
      }
    }
    .ingredient {
      &__title {
        font-size: 3.2rem;
        margin-bottom: 2rem;
      }
      &__item {
        margin-left: 2rem;
      }
    }
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .prep {
    width: 80%;
    padding-left: 2rem;
    &__item {
      padding-left: 2rem;
      color: $Stone600;
    }
  }
}
